<div class='container f r'>

    <aside id='group' class='convo-border'></aside>

    <main id='chat' class='convo-border'>
        <section id='messages'>
            <div ng-repeat='data in $ctrl.conversation track by $index'>
                {{data.user}}:
                {{data.msg}}
            </div>
        </section>

        <section id='new-message'>
            <textarea ng-model='$ctrl.userMessage'></textarea>
            <button ng-disabled='!$ctrl.userMessage' ng-click='$ctrl.send()'>
                Send
            </button>
        </section>
    </main>

</div>
